services:
  db:
    build:
      context: .
      dockerfile: db/Dockerfile.database
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db-data:/var/lib/postgresql/data 

  backend:
    build:
      context: .
      dockerfile: be/Dockerfile.backend
    restart: always
    depends_on:
      - db
    environment:
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
    volumes:
      - ./tmp:/tmp  # Bind mount cho socket

  frontend:
    build:
      context: .
      dockerfile: fe/Dockerfile.frontend
    restart: always
    depends_on:
      - backend
    volumes:
      - ./tmp:/tmp  # Bind mount cùng thư mục
    ports:
      - 80:80
      - 443:443

volumes:
  db-data:  # Chỉ giữ lại volume cho database